<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.5.0/fonts/remixicon.css" rel="stylesheet">
    <link rel="stylesheet" href="../stylesheets/SignIn&SignUpStyling/logInWithPassword.css">
</head>
<body>  

    <div id="back">
    <% include ./WebNavBarPartials/WebNavBarPartials.ejs%>
        
    <% include ./MobNavBarPartials/MobNavBarLoginProcess.ejs%> 
     <div class="big">
         <div class="imagecontainer">
             <img src="../images/loginimages/Mask Group 182.png" alt="">
         </div>
         <div class="details">
            <div class="welcome">
                <h3>Welcome to <img src="../images/homePage/Logo.png" alt=""></h3>
                
            </div>
            <img id="rc" src="../images/loginimages/Mask Group 46.svg" alt="">
            <img id="rc1" src="../images/loginimages/Mask Group 47.svg " alt="">
              <div class="palletoverlay">
            <div class="box">
                <a href="/log-in-with-password"><button id="btn1">Sign In</button></a>
                <div class="line">
                  <img src="../images/loginimages/Line 648.png" alt="">
                </div>
                <button id="btn2" >Sign Up</button>
            </div>
            <div class="switch">
                <div class="signin">
                    <form id="" action="/login" method="post" >
                       <input class="inpt" name="username" type="tel" placeholder="10 Digit Registered Mobile Number *" pattern="/^-?\d+\.?\d*$/" onKeyPress="if(this.value.length==10) return false;" >
                       <input  class="inpt" name="password" type="text" placeholder="Password">
                    </form>
                    <div class="checked">
                        <a href="/forgot-password">Forgot Password?</a>
                    </div>
                    <button id="continue">SIGN In</button>   
              </div>
            
            </div>
            <div class="pallete"></div>
         </div>
     </div>    
       </div>
       <div id="popBlack">
           <div id="popUp">
            <i class="ri-close-circle-line"></i>
               <h5>To Register as a new user first you have to <br> verify your mobile number with OTP</h5>
               <a href="/phone-number-page"><button>verify my Number</button></a>
           </div>
       </div>
    </div>
    <script src="https://apis.google.com/js/platform.js" async defer></script>
    <script>
        var popUpClose = document.querySelector('#popUp i');
        var popBlack = document.querySelector('#popBlack');
        var btn2 = document.querySelector('#btn2');
        var signInbtn = document.querySelector('.signin button');
        var signinForm = document.querySelector('.signin form');
        
        btn2.addEventListener('click', function(){
            popBlack.style.display = 'initial'
        });

        popUpClose.addEventListener('click', function(){
            popBlack.style.display = 'none'
        });

        signInbtn.addEventListener('click', function(){
        signinForm.submit();
        });
    </script>
</body>
</html>

 