<link rel="stylesheet" href="../../stylesheets/Partialcss/mobFooter.css">
<div id="online">
    <div id="innerLinks">
      <div class="tags">
        <h5 class="shop">online shopping</h5>
        <div class="footerlinks">
          <a href="#">Men</a>
          <div class="line"></div>
          <a href="#">women</a>
          <div class="line"></div>
          <a href="#">accessories</a>
          <div class="line"></div>
          <a href="#">revolutionary</a>
          </div>
      </div>
      <div class="tags">
        <h5 class="shop">useful links</h5>
        <div class="footerlinks2">
          <a href="#">contact us</a>
          <div class="line"></div>
          <a href="#">faq</a>
          <div class="line"></div>
          <a href="#">T & C</a>
          <div class="line"></div>
          <a  href="#">Track your address</a>
          <div class="line"></div>
          <a id="ship" href="#">shipping</a>
          <div class="line"></div>
          <a  href="#">blog</a>
           <div id="lowerline" class="line"></div>
          <a href="#">privacy policy</a>
         </div>
      </div>
      <div class="tags">
        <h5 class="shop">keep in touch</h5>
        <div class="socialmedia">
            <a href="https://www.instagram.com/" target="_blank"><img src="../images/homePage/Icon feather-instagram.png" alt=""></a>
            <a href="https://www.facebook.com/" target="_blank"><img  id="facebook" src="../images/homePage/Icon feather-facebook.png" alt=""></a>
            <a href="https://www.linkedin.com/" target="_blank"><img id="linkedin" src="../images/homePage/Icon feather-linkedin.png" alt=""></a>
            <a href="https://twitter.com/?lang=en" target="_blank"><img src="../images/homePage/Icon feather-twitter.png" alt=""></a>
            <a href="https://www.youtube.com/" target="_blank"><img src="../images/homePage/Icon feather-youtube.png" alt=""></a>
          
        </div>
      </div>
    </div>
  </div>