<link rel="stylesheet" href="../../stylesheets/Partialcss/ProfileSideTabs.css">
<div id="leftTabs">
    <div class="Tab">
    <a style="text-decoration: none;" href="/profile">
        <h3>Profile</h3>
    </a>
    </div>
    <div class="Tab">
    <a style="text-decoration: none;" href="/Orders">
        <h3>Orders</h3>
    </a>
    </div>
    <div class="Tab">
    <a style="text-decoration: none;" href="/track-order">
        <h3>Track your Order</h3>
    </a>
    </div>
    <div class="Tab">
    <a style="text-decoration: none;" href="/contact-us">
        <h3>Contact Us</h3>
    </a>
    </div>
    <div class="Tab">
    <a style="text-decoration: none;" href="/terms-of-use">
        <h3>Terms of Service</h3>
    </a>
    </div>
    <div class="Tab">
    <a style="text-decoration: none;" href="/privacy-policy">
        <h3>Privacy Policy</h3>
    </a>
    </div>
    <div class="Tab">
        <a style="text-decoration: none;" href="/return-and-exchange">
            <h3>Return and Exchange</h3>
        </a>
        </div>
</div>
<div id="mobTabs">
    <a style="text-decoration: none;" href="/edit-profile">
        <div class="Tab">
        <h3>Profile</h3>
    </div>
    </a>
    <a style="text-decoration: none;" href="/Orders">
        <div class="Tab">
        <h3>Orders</h3>
    </div>
    </a>
    <a style="text-decoration: none;" href="/track-order">
        <div class="Tab">
        <h3>Track your Order</h3>
    </div>
    </a>
    <a style="text-decoration: none;" href="/contact-us">
        <div class="Tab">
        <h3>Contact Us</h3>
    </div>
    </a>
    <a style="text-decoration: none;" href="/terms-of-use">
        <div class="Tab">
        <h3>Terms of Service</h3>
    </div>
    </a>
    <a style="text-decoration: none;" href="/privacy-policy">
        <div class="Tab">
        <h3>Privacy Policy</h3>
    </div>
    </a>
    <a style="text-decoration: none;" href="/privacy-policy">
        <div class="Tab">
        <h3>Return and Exchange</h3>
    </div>
    </a>
    <a style="text-decoration: none;" href="/logout">
        <div class="Tab">
        <h3>SIGN OUT</h3>
    </div>
    </a>
</div>

<script>
    var Tab = document.querySelector('.Tab a');
    var Tabhead = document.querySelector('.Tab h3');

    Tab.addEventListener('click', function(){
        Tabhead.style.color = '#5ACEAA';
        Tabhead.style.fontsize = '15px';
        Tabhead.style.fontweight = '900';
    });
</script>