<link rel="stylesheet" href="../../stylesheets/Partialcss/MobNavbarwithBackBtn.css">
<nav id="mobNav">
    <div class="logo1">
      <i class="ri-arrow-left-line" onclick="goBack()"></i>
    </div>
    <div class="icons1">
            <img id="search" src="../images/otpimage/Icon feather-search Mob.png" alt="">
            <img id="book" src="../images/otpimage/Icon feather-bookmark Mob.png" alt="">
            <img id="book" src="../images/otpimage/Icon feather-shopping-bag Mob.png" alt="">
    </div>
  </nav>

  <script>
    function goBack() {
window.history.back();
}
</script>